.our-service
  padding: 55px
  display: grid
  grid-template-columns: repeat(3,1fr)
  grid-gap: 55px
.srv-title
  text-align: center
  h3
    font-size: 36px
    grid-column: 1/4
.about-us

  display: grid
  padding: 55px
  grid-gap: 55px
  grid-template-columns: 1fr 1fr
  .describe-us-img
    img
      max-width: 100%

.grid-change-2
    grid-template-columns: repeat(2,1fr)
.grid-change-2-area
    grid-column: 1/3