.blue-back
  background-color: #3498db
body
  margin: 0 auto
.btn
  padding: 10px
  background-color: gray
.contact-service

  display: flex
  max-width: 1000px
  align-items: center
  justify-content: space-between
  height: $height-contact-menu
  margin: 0 auto
  padding: 10px
  h3
    color: white
    font-weight: 600
.slide-image
  display: flex
  img
    overflow-y: hidden
    height: 760px
    min-width: 100%
    align-items: center
.slide-text
  flex-direction: column
  max-width: 250px
  display: flex
  color: white
  position: absolute
  left: 50%
  top: 40%
  h3
    font-size: 70px
.our-service
  padding: 55px
  display: grid
  grid-template-columns: repeat(3,1fr)
  grid-gap: 55px
.srv-title
  text-align: center
  h3
    font-size: 36px
  grid-column: 1/4
.card-service
  img
    max-width: 100%

  .card-text
    h4
      text-align: center
.about-us

  display: grid
  padding: 55px
  grid-gap: 55px
  grid-template-columns: 1fr 1fr
  .describe-us-img
    img
      max-width: 100%

.back-blue
  background-color: #3498db

.section-info
  display: flex
  max-width: 1000px
  align-items: center
  justify-content: space-between
  height: $height-contact-menu*2
  margin: 0 auto
  padding: 10px
.box-icon
  font-size: 44px
  line-height: 1
  color: white
.box-counter__wrap
  margin-top: 15px
  font-size: 60px
  font-weight: 700
  color: white
.p-text
  margin-top: 10px
  font-size: 16px
  color: white
  text-align: center
.contacts-us
  display: flex
  max-width: 1000px
  align-items: center
  justify-content: space-between
  height: $height-contact-menu
  margin: 0 auto
  padding: 10px
  flex-direction: column
  height: 700px
  input
    margin-top: 10px
    line-height: 38px
    width: 400px
  textarea
    margin-top: 10px
    line-height: 38px
    width: 400px