body {
  color: #f058; }

p {
  color: #f058; }

i {
  color: #000; }

i:hover {
  color: rgba(50, 201, 70, 0.533); }

.main_information {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px; }

.main_inf_flex {
  display: flex; }
